<div id="schedule-box" class="box">
   <div id="loadingDiv" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
         <img src="{{ @asset('paint.gif') }}" alt="painting nashville">
      </div>
   </div>
   <check if="{{ @success === false }}">
   <form id="schedule">
      <div class="field">
         <label class="label">{{ @DICT.schedule.name.label }}</label>
         <div class="control">
            <input class="input" type="text" name="name" placeholder="{{ @DICT.schedule.name.placeholder }}">
         </div>
      </div>

      <div class="field">
         <label class="label">{{ @DICT.schedule.address.label }}</label>
         <div class="control has-icons-left has-icons-right">
            <input class="input" placeholder="{{ @DICT.schedule.address.placeholder }}" name="address">
            <span class="icon is-small is-left">
               <img src="{{ @asset('location-dot-solid.svg') }}" height="15" width="15" alt="address" />
            </span>
         </div>
         <p class="help is-danger"></p>
      </div>
      <input type="hidden" name="geocode">
      <input type="hidden" name="suggestedAddress">

      <div class="field">
         <label class="label">{{ @DICT.schedule.email.label }}</label>
         <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" name="email" placeholder="{{ @DICT.schedule.email.placeholder }}">
            <span class="icon is-small is-left">
               <img src="{{ @asset('envelope-regular.svg') }}" height="20" width="20" alt="email" />
            </span>
         </div>
         <p class="help is-danger"></p>
      </div>
      <div class="field">
         <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" name="confirm-email" placeholder="{{ @DICT.schedule.email.confirm.placeholder }}">
            <span class="icon is-small is-left">
               <img src="{{ @asset('envelope-regular.svg') }}" height="20" width="20" alt="email confirm" />
            </span>
         </div>
         <p class="help is-danger"></p>
      </div>

      <div class="field">
         <label class="label">{{ @DICT.schedule.phone.label }}</label>
         <div class="control has-icons-left has-icons-right">
            <input class="input" type="tel" name="phone"
                   placeholder="{{ @DICT.schedule.phone.placeholder }}" pattern="[0-9]{3}-?[0-9]{3}-?[0-9]{4}">
            <span class="icon is-small is-left">
               <img src="{{ @asset('phone-solid.svg') }}" height="20" width="20" alt="phone" />
            </span>
         </div>
         <p class="help is-danger"></p>
      </div>

      <div class="field">
         <div class="control">
            <label class="checkbox">
               <input type="checkbox" name="contact">
               {{ @DICT.schedule.phone.prefer }}
            </label>
         </div>
      </div>

      <div class="field">
         <label class="label">{{ @DICT.schedule.comments.label }}</label>
         <div class="control">
            <textarea class="textarea" name="comments" placeholder="{{ @DICT.schedule.comments.placeholder }}"></textarea>
         </div>
      </div>

      <div class="field">
         <img id="captcha" src="/captcha" title="captcha image" alt="captcha"/>
         <div class="control">
            <input class="input" type="text" name="captcha" placeholder="{{ @DICT.schedule.captcha.placeholder }}"/>
         </div>
      </div>

      <div class="field is-grouped pt-5">
         <div class="control">
            <button id="estimate-button" type="button" class="button is-link">{{ @DICT.schedule.estimate.button }}</button>
         </div>
      </div>
   </form>
   </check>
   <check if="{{ @success }}">
      <div class="notification is-success">
         <p>
            {{ @DICT.schedule.success.notification1,@SESSION.schedule.success.name | format }}
         </p>
         <p>
            {{ @DICT.schedule.success.notification2,@SESSION.schedule.success.email | format }}
         </p>
         <p>
            {{ @DICT.schedule.success.notification3 }}
         </p>
         <p>
            {{ @DICT.schedule.success.new.description }}
         </p>
         <div class="pt-3">
            <a class="button is-link" href="/new">{{ @DICT.schedule.success.new.button }}</a>
         </div>
      </div>
   </check>
</div>