<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nashville painting company providing high end interior/exterior paint services.">
    <title>{{ @title }}</title>
    <link rel="icon" href="{{ @asset('favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ @asset('app.css') }}">
    <link rel=“canonical” href="https://newstandardpainting.com/" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="body">
    <include href="{{ 'header'.@ext }}"/>
    <div class="container is-fluid p-0">
        <div>
            <include href="{{ @content }}" />
        </div>
        <div class="content bg-logo-mobile bg-logo-touch bg-logo-tablet bg-logo-desktop bg-logo-widescreen bg-logo-fullhd">
        </div>
        <include href="{{ 'schedule'.@ext }}" />
    </div>
    <include href="{{ 'footer'.@ext }}" />
</div>
<script type="text/javascript">
   window.lang = "{{ @LANGUAGE }}";
</script>
<script type="module" src="{{ @asset('app.js') }}"></script>
</body>
</html>