html {
    height: 100vh;
}
body {
    height: 100vh;
}
.container .content {
    position: relative;
    height: 100vh;
}
.container .content section {
    padding-bottom: 2.5rem;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-left: 1.5rem;
}

@media screen and (max-width: 768px) {
    .bg-logo-mobile {
        background: url('/assets/nsp-logo-sm.png') no-repeat center 0;
        background-size: cover;
    }
}
@media screen and (min-width: 769px), print {
    .bg-logo-tablet {
        background: url('/assets/nsp-logo-sm.png') no-repeat center 0;
        background-size: cover;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .bg-logo-tablet-only {
        background: url('/assets/nsp-logo-sm.png') no-repeat center 0;
        background-size: cover;
    }
}
@media screen and (max-width: 1023px) {
    .bg-logo-touch {
        background: url('/assets/nsp-logo-md.png') no-repeat center 0;
        background-size: cover;
    }
}
@media screen and (min-width: 1024px) {
    .bg-logo-desktop {
        background: url('/assets/nsp-logo-md.png') no-repeat center 0;
        background-size: 100% 1000px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .bg-logo-desktop-only {
        background: url('/assets/nsp-logo-md.png') no-repeat center 0;
        background-size: 100% 1000px;
    }
}
@media screen and (min-width: 1216px) {
    .bg-logo-widescreen {
        background: url('/assets/nsp-logo-md.png') no-repeat center 0;
        background-size: 100% 1000px;
    }
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .bg-logo-widescreen-only {
        background: url('/assets/nsp-logo-md.png') no-repeat center 0;
        background-size: 100% 1000px;
    }
}
@media screen and (min-width: 1408px) {
    .bg-logo-fullhd {
        background: url('/assets/nsp-logo-lg.png') no-repeat center 0;
        background-size:100% 1000px;
    }
}
